.HeroList {
  text-align: center;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-inline: 2em;
}

ul div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  padding-block: 2em;
  padding-left: 1em;
}